
#dropBox{
  border: 3px dashed #0087F7;
  border-radius: 5px;
  background: #F3F4F5;
  cursor: pointer;
}
#dropBox{
  min-height: 150px;
  padding: 54px 54px;
  box-sizing: border-box;
}
#dropBox p{
  text-align: center;
  margin: 2em 0;
  font-size: 16px;
  font-weight: bold;
}
#fileInput{
  display: none;
} 






.toggle-btn{
    width: 45px;
    height: 25px;
    background: gray;
    border-radius: 30px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.toggle-btn > .inner-circle{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;

}

.toggle-btn.active {
    background: rgb(0, 218, 83);
}

.toggle-btn.active > .inner-circle {
    margin-left: 20px;
}



.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(8, 84, 197);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s  ;
    overflow: scroll;

}

.popup__father{
    display: table-cell;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__close:link,
.popup__close:visited {
    color: red;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3.3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
}


.popup__close:hover {
    color: rgb(64, 5, 226);
}

.popup__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;  
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(#000000, .2);
    border-radius: 3px;
    display: table;

}
 
.popup__left {
    width:  33.333333%;
    display: table-cell;
}

.popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 4rem; 
}



.popup__imagen { 
    width: 10rem;
    height: 90vh; 
}


.popup__filter {
background-color: rgb(0, 218, 83);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.form-login {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center; }
    .form-login__group {
      width: 100%; }
    .form-login__email-input {
      width: 100%;
      padding: 0;
      margin: 0;
      display: block; }
    .form-login__group:not(:last-child) {
      margin-bottom: 1rem; }
    .form-login__input {
      font-size: 1.5rem;
      font-family: inherit;
      font-family: 'Poppins', sans-serif;
      color: inherit;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 2rem;
      border-radius: 3px;
      border: solid;
      border-width: 2px;
      background-color: rgba(252, 252, 252, 0.5);
      border-color: #dedede;
      width: 96%;
      display: block;
      transition: all .3s; }
      .form-login__input:focus {
        outline: none;
        border-bottom: 2px solid #117A65; }
      .form-login__input:focus:invalid {
        border-bottom: 2px solid #CB4335; }
      .form-login__input::-webkit-input-placeholder {
        color: #c5c5c5; }
    .form-login__label {
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      margin-left: 2rem;
      margin-top: .7rem;
      text-align: left;
      display: block;
      transition: all .3s; }
    .form-login__input:placeholder-shown + .form-login__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-1.5rem); }


