
.rangeValue_style{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(6, 46, 177);
    font-size: 2rem;
}

.container_slide_range{
    margin-bottom: 2rem;
} 

.slide_range{
    width: 40%; 
} 