

            //COLORS

//general color
$color-primary: #284289c0;
$color-secundary: #284289d5;

//colores background table prices
//table 1
$color-table1-prices1: #259ecc;
$color-table1-prices2: #052165;
//table 2
$color-table2-prices1: #B03A2E;
$color-table2-prices2: #CB4335;
//table 3
$color-table3-prices1: #117A65;
$color-table3-prices2: #1ABC9C ;

//background color 
$color-white: #fcfcfc;
$color-gray: #f7f7f7;

//color section title
$color-text-dark: #dfdfdf;
$color-text-dark2: #c5c5c5;
$color-text-dark3: #333;

//color error


           //SOMBRAS
$shadow: #00000067;


           //VALUABLES GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;


           //FONT SIZES
$default-font-size: 1.6rem;


//FONT SIZE ANIMATION HEADER
$font-size-animation-header: 5rem;

//SIZE ICON SOCIAL FORM
$size-social-icon: 2rem;
$margin-top-social-icon: 1.8rem ;