.header-browser-profile{
    height: 37rem;
    background-image: linear-gradient(rgb(24, 70, 122), rgb(27, 48, 167));
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            
}
 


