.container_composition {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    &__photo {
      width: 50%;
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all 0.2s;
    }  
  }
  
  .novedad { 
    background-color: rgba($color-white, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    transition: transform 0.3s;
  
    &__icon1 {
      font-size: 4rem;
      margin-bottom: 0.5rem;
      @include background-gradient;
    }
    &:hover {
      box-shadow: 0 2rem 4rem rgba($shadow, 0.15);
      transform: scale(1.05);
    }
  }
  