.container_promotion{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    padding: 2rem;
    padding-bottom: 10rem;

    .promotion-img{

        align-self: center;
        justify-self: center;

        .promotion-img--p1{
            width: 100%;
            max-width: 400px;
            height: auto; 
        }

    }
}
