
// centrar texto
.u-center-text{ text-align: center;}


// espacios entre elementos
// 100px
.u-margin-top-10{margin-top: 10rem;}
// 80px
.u-margin-top-8{margin-top: 8rem;}
// 40px
.u-margin-top-4{margin-top: 4rem;}
// 20px
.u-margin-top-2{margin-top: 1.5rem;}

// espacios entre elementos botton 80px
.u-margin-botton-8{margin-bottom: 8rem;}
// 40px
.u-margin-botton-4{margin-bottom: 4rem;}
// 20px
.u-margin-botton-2{margin-bottom: 1.5rem;}

.u-margin-botton-1{margin-bottom: -1rem;}
 

#particles-js{
    width: 100%;
    height: 100%;
}