.dashboard-main{
    padding: 10rem 0;
    background-size: cover;
    background-repeat: no-repeat; 
}

.edit-profile{
    position: relative;
    padding-top: 10rem;
}

.Aplicaciones-section{
    position: relative;
    padding-top: 10rem;
}

